.header {
  display: flex;
  justify-content: space-between;
  background: #f3f3f3;
  height: 32px;
  padding: 48px 40px 10px 40px;
  border-bottom: 2px solid #dadada;
  .manage-panel {
    display: flex;
    .btn-blue {
      background: #0271c7;
      color: #f2f2f2;
      box-shadow: 1px 1px 1px #0068c1;
      text-shadow: 1px 1px 2px #005094;
      &:hover {
        background: #0261c7;
        color: #ffffff;
      }
    }
  }
  .search-panel {
    display: flex;
    .icon {
      background: url(../icons/svg/magnifying-glass.svg) no-repeat;
      width: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .search {
      height: 22px;
      width: 180px;
      border-radius: 3px;
      border-top: 2px solid #c7c7c7;
      padding: 0 10px;
    }
  }
}

.calendar-date {
  padding: 20px 0 20px;
  .btn-prev,
  .btn-next {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    color: transparent;
    font-size: 8px;
    justify-content: center;
  }
  .btn-prev {
    background: url(../icons/svg/play-button-reverse.svg) no-repeat;
  }
  .btn-next {
    background: url(../icons/svg/play-button.svg) no-repeat;
  }
  .calendar-date__current {
    font-size: 14px;
    color: #555555;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    text-align: center;
  }
}

.calendar-body {
  padding: 8px 40px 10px 40px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.btn {
  height: 24px;
  border-radius: 3px;
  margin: 0px 5px;
  padding: 0 8px;
  display: inline-block;
}

.btn-today {
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
}

.btn-default {
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #969696;
}

.add-form {
  margin-top: 10px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  height: 60px;
  width: 260px;
  box-shadow: -1px 1px 3px #bbb;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
  top: 70px;
}
